.todo-menu {
  display: flex;
  align-items: center;
  margin: 10px;
}

.todo-menu_add:hover {
  cursor: pointer;
}

.todo-menu_add {
  color: red;
}

.todo-section {
  margin: 10px;
  border-style: solid;
  padding: 10px;
  border-radius: 25px;
}
